.search-container{
 text-align: center;
}
.search-input {
  margin-top: 50px;
  width: 30%;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
  color: #999;
}
.search-input:focus {
  outline: none;
  box-shadow: 0 2px 22px rgba(94, 22, 22, 0.2);
}
/* btn  */
.search-btn {
  padding: 8px 16px;
  border: none;
  background-color: antiquewhite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-btn:hover{
  cursor: pointer;
}
.suggestions {
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  cursor: pointer;
  padding: 5px;
}

.suggestions li:hover {
  background-color: #f2f2f2;
}
.error-message{
  padding-top: 20px;
  font-size: 15px;
  color: rgb(173, 111, 111);
}
/* container for weather cards */
.weather-cards-container {
  padding-top:50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  flex-wrap: wrap;
  justify-items: center;
  align-items: start;
}