* {
  margin: 0;
  padding: 0;
}
.weather-cards-container {
  display: flex;
  justify-content: center;

}
.city-card-wrapper {
  display: flex;
}

.card-item {
  padding: 10px 20px;
  text-align: end;
  width: 300px;
  height: auto;
  background-color: rgb(255, 250, 241);
  border-radius: 10px;
}

.city-info-wrapper,
.weather-report-wrapper,
.temperature {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
}
.weather-info-wrapper p{
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.weather-info-wrapper span {
  font-weight: bold;
  color: rgb(226, 147, 1);
}
.current-date{
  display: flex;
  font-size: 18px;
}
.description-icon-wrapper{
  color: grey;
  display: flex;
  align-items: center;
}
.feels-like{
  font-weight: normal;
  text-align: left;
  color: grey;
  font-size: 11px;
}
.btn-close{
  background-color: transparent;
  border: none;
}
.btn-close:hover{
  cursor: pointer;
  transition-duration: .4s;
  color: rgb(189, 189, 161);
}

.city-name {
  font-weight: bold;
  font-size: 16px;
}
.weather-description{
  font-size: 15px;
  text-align: right;
}
.temperature-wrapper{
  font-size: 25px;
  font-weight: bold;
}
.temperature-unit{
  padding-left: 10px;
}
.temperature-unit:hover{
  cursor: pointer;
  transition-duration: .4s;
  color: rgb(189, 189, 161);
}
.temperature-unit.active {
  color: rgb(226, 147, 1);
}
.temperature-number{
  font-size: 45px;
  font-weight: normal;
}